.list
  .upload-wrapper
    =  link_to 'Upload new picture', new_picture_path

  %ul.pictures
    - @pictures.each do |p|
      %li
        = image_tag(p.attachment_url)
        .details
          %p.filename= p.name
          %p= "#{time_ago_in_words(p.updated_at)} ago"
          = button_to 'Delete', p, method: :delete, class: 'delete-button'
