=  link_to 'Upload new file', new_text_file_path

%ul
- @files.each do |f|
  %li
    %p= f.name
    %p= f.updated_at
    %p= link_to 'Download', f.attachment_url
    %p= button_to 'Delete', f, method: :delete
